{
  "openapi": "3.1.0",
  "info": {
    "title": "Rabit HR Platform API",
    "description": "API documentation for Rabit - Saudi HR Management Platform. توثيق واجهات برمجة تطبيقات منصة رابِط للموارد البشرية",
    "version": "1.0.0",
    "contact": {
      "name": "Rabit Support",
      "email": "dev@rabit.sa",
      "url": "https://rabit.sa"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://rabit.sa/api",
      "description": "Production Server"
    },
    {
      "url": "http://localhost:5000/api",
      "description": "Development Server"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "User authentication and session management"
    },
    {
      "name": "Profile",
      "description": "User profile management"
    },
    {
      "name": "Documents",
      "description": "Document generation and templates"
    },
    {
      "name": "Calculations",
      "description": "HR calculators (End of Service, Vacation, etc.)"
    },
    {
      "name": "Consulting",
      "description": "Consultation tickets and bookings"
    },
    {
      "name": "Chat",
      "description": "Real-time messaging"
    },
    {
      "name": "Notifications",
      "description": "Push notifications and alerts"
    },
    {
      "name": "Admin",
      "description": "Admin panel operations"
    },
    {
      "name": "Reports",
      "description": "Analytics and reporting"
    }
  ],
  "paths": {
    "/trpc/auth.register": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Register new user",
        "description": "Create a new user account with email and password",
        "operationId": "authRegister",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "json": {
                    "$ref": "#/components/schemas/RegisterInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registration successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/trpc/auth.login": {
      "post": {
        "tags": ["Authentication"],
        "summary": "User login",
        "description": "Authenticate user with email and password",
        "operationId": "authLogin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "json": {
                    "$ref": "#/components/schemas/LoginInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/trpc/auth.logout": {
      "post": {
        "tags": ["Authentication"],
        "summary": "User logout",
        "description": "End user session and clear cookies",
        "operationId": "authLogout",
        "responses": {
          "200": {
            "description": "Logout successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/auth.me": {
      "get": {
        "tags": ["Authentication"],
        "summary": "Get current user",
        "description": "Get authenticated user information",
        "operationId": "authMe",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "Current user data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/profile.getProfile": {
      "get": {
        "tags": ["Profile"],
        "summary": "Get user profile",
        "description": "Get current user's complete profile",
        "operationId": "getProfile",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/trpc/profile.updateProfile": {
      "post": {
        "tags": ["Profile"],
        "summary": "Update user profile",
        "description": "Update current user's profile information",
        "operationId": "updateProfile",
        "security": [{ "cookieAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "json": {
                    "$ref": "#/components/schemas/UpdateProfileInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/documentGenerator.getTemplates": {
      "get": {
        "tags": ["Documents"],
        "summary": "Get document templates",
        "description": "Get all available document templates",
        "operationId": "getTemplates",
        "responses": {
          "200": {
            "description": "List of templates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplatesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/documentGenerator.generateDocument": {
      "post": {
        "tags": ["Documents"],
        "summary": "Generate document",
        "description": "Generate a document using AI based on template and input data",
        "operationId": "generateDocument",
        "security": [{ "cookieAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "json": {
                    "$ref": "#/components/schemas/GenerateDocumentInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneratedDocumentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/eosb.saveCalculation": {
      "post": {
        "tags": ["Calculations"],
        "summary": "Save calculation",
        "description": "Save end of service or other HR calculation",
        "operationId": "saveCalculation",
        "security": [{ "cookieAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "json": {
                    "$ref": "#/components/schemas/SaveCalculationInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calculation saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/consulting.getPackages": {
      "get": {
        "tags": ["Consulting"],
        "summary": "Get consulting packages",
        "description": "Get all active consulting packages",
        "operationId": "getPackages",
        "responses": {
          "200": {
            "description": "List of packages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PackagesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/consulting.createTicket": {
      "post": {
        "tags": ["Consulting"],
        "summary": "Create consulting ticket",
        "description": "Create a new consulting ticket/request",
        "operationId": "createTicket",
        "security": [{ "cookieAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "json": {
                    "$ref": "#/components/schemas/CreateTicketInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ticket created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTicketResponse"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/notifications.list": {
      "get": {
        "tags": ["Notifications"],
        "summary": "List notifications",
        "description": "Get user's notifications",
        "operationId": "listNotifications",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "JSON encoded input: { limit?: number, offset?: number, unreadOnly?: boolean }"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of notifications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/admin.users.list": {
      "get": {
        "tags": ["Admin"],
        "summary": "List users (Admin)",
        "description": "Get paginated list of all users",
        "operationId": "adminListUsers",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "JSON encoded input with pagination and filters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUsersResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/trpc/admin.bookings.list": {
      "get": {
        "tags": ["Admin"],
        "summary": "List bookings (Admin)",
        "description": "Get paginated list of all bookings",
        "operationId": "adminListBookings",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "List of bookings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminBookingsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/trpc/admin.subscriptions.list": {
      "get": {
        "tags": ["Admin"],
        "summary": "List subscriptions (Admin)",
        "description": "Get paginated list of all subscriptions",
        "operationId": "adminListSubscriptions",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "List of subscriptions"
          }
        }
      }
    },
    "/trpc/admin.dataRequests.list": {
      "get": {
        "tags": ["Admin"],
        "summary": "List data requests (Admin)",
        "description": "Get PDPL data requests",
        "operationId": "adminListDataRequests",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "List of data requests"
          }
        }
      }
    },
    "/trpc/reports.getOverview": {
      "get": {
        "tags": ["Reports"],
        "summary": "Get dashboard overview",
        "description": "Get overview statistics for dashboard",
        "operationId": "getOverview",
        "security": [{ "cookieAuth": [] }],
        "responses": {
          "200": {
            "description": "Dashboard overview data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OverviewResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "session"
      }
    },
    "schemas": {
      "RegisterInput": {
        "type": "object",
        "required": ["name", "email", "password"],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "example": "أحمد محمد"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "ahmed@example.com"
          },
          "password": {
            "type": "string",
            "minLength": 8,
            "example": "SecurePass123!"
          },
          "phoneNumber": {
            "type": "string",
            "example": "0512345678"
          },
          "userType": {
            "type": "string",
            "enum": ["employee", "individual", "company", "consultant"]
          }
        }
      },
      "LoginInput": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          },
          "rememberMe": {
            "type": "boolean"
          },
          "otp": {
            "type": "string",
            "minLength": 6,
            "maxLength": 6
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": "string",
            "enum": ["user", "admin", "consultant"]
          },
          "userType": {
            "type": "string"
          },
          "profilePicture": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "json": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean"
                      },
                      "user": {
                        "$ref": "#/components/schemas/User"
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ProfileResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "json": {
                    "type": "object",
                    "properties": {
                      "user": {
                        "allOf": [
                          { "$ref": "#/components/schemas/User" },
                          {
                            "type": "object",
                            "properties": {
                              "bio": { "type": "string" },
                              "city": { "type": "string" },
                              "linkedIn": { "type": "string" },
                              "twitter": { "type": "string" },
                              "profileCompleted": { "type": "boolean" }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "UpdateProfileInput": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "minLength": 2 },
          "email": { "type": "string", "format": "email" },
          "bio": { "type": "string" },
          "city": { "type": "string" },
          "profilePicture": { "type": "string" },
          "linkedIn": { "type": "string" },
          "twitter": { "type": "string" }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "code": { "type": "string" },
          "titleAr": { "type": "string" },
          "titleEn": { "type": "string" },
          "category": { "type": "string" },
          "description": { "type": "string" },
          "isActive": { "type": "boolean" }
        }
      },
      "TemplatesResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "json": {
                    "type": "object",
                    "properties": {
                      "templates": {
                        "type": "array",
                        "items": { "$ref": "#/components/schemas/Template" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "GenerateDocumentInput": {
        "type": "object",
        "required": ["templateCode", "inputData"],
        "properties": {
          "templateCode": { "type": "string" },
          "inputData": { "type": "object", "additionalProperties": true },
          "lang": { "type": "string", "enum": ["ar", "en", "both"] },
          "style": { "type": "string", "enum": ["formal", "semi-formal", "friendly"] },
          "companyLogo": { "type": "string" },
          "companyName": { "type": "string" }
        }
      },
      "GeneratedDocumentResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "json": {
                    "type": "object",
                    "properties": {
                      "success": { "type": "boolean" },
                      "outputHtml": { "type": "string" },
                      "outputText": { "type": "string" },
                      "documentId": { "type": "integer" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "SaveCalculationInput": {
        "type": "object",
        "properties": {
          "calculationType": {
            "type": "string",
            "enum": ["end-of-service", "vacation", "overtime", "deduction"]
          },
          "salary": { "type": "number" },
          "contractType": { "type": "string" },
          "terminationReason": { "type": "string" },
          "startDate": { "type": "string" },
          "endDate": { "type": "string" },
          "duration": {
            "type": "object",
            "properties": {
              "years": { "type": "integer" },
              "months": { "type": "integer" },
              "days": { "type": "integer" }
            }
          },
          "inputData": { "type": "object" },
          "result": { "type": "object" },
          "notes": { "type": "string" }
        }
      },
      "Package": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "nameAr": { "type": "string" },
          "nameEn": { "type": "string" },
          "price": { "type": "number" },
          "currency": { "type": "string" },
          "features": { "type": "array", "items": { "type": "string" } },
          "durationMinutes": { "type": "integer" },
          "isActive": { "type": "boolean" }
        }
      },
      "PackagesResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "json": {
                    "type": "object",
                    "properties": {
                      "packages": {
                        "type": "array",
                        "items": { "$ref": "#/components/schemas/Package" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CreateTicketInput": {
        "type": "object",
        "required": ["packageId", "subject", "description"],
        "properties": {
          "packageId": { "type": "integer" },
          "subject": { "type": "string" },
          "description": { "type": "string" },
          "submittedFormJson": { "type": "string" },
          "attachments": { "type": "string" },
          "priority": { "type": "string", "enum": ["low", "medium", "high", "urgent"] }
        }
      },
      "CreateTicketResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "json": {
                    "type": "object",
                    "properties": {
                      "success": { "type": "boolean" },
                      "ticketId": { "type": "integer" },
                      "ticketNumber": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Notification": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": "string" },
          "body": { "type": "string" },
          "type": { "type": "string", "enum": ["system", "ticket", "booking", "chat", "payment", "promo"] },
          "read": { "type": "boolean" },
          "createdAt": { "type": "string", "format": "date-time" },
          "metadata": { "type": "object" }
        }
      },
      "NotificationsResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "json": {
                    "type": "object",
                    "properties": {
                      "notifications": {
                        "type": "array",
                        "items": { "$ref": "#/components/schemas/Notification" }
                      },
                      "unreadCount": { "type": "integer" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AdminUsersResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "json": {
                    "type": "object",
                    "properties": {
                      "users": {
                        "type": "array",
                        "items": { "$ref": "#/components/schemas/User" }
                      },
                      "total": { "type": "integer" },
                      "hasMore": { "type": "boolean" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AdminBookingsResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "json": {
                    "type": "object",
                    "properties": {
                      "bookings": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": { "type": "integer" },
                            "userId": { "type": "integer" },
                            "consultantId": { "type": "integer" },
                            "status": { "type": "string" },
                            "scheduledDate": { "type": "string" },
                            "scheduledTime": { "type": "string" }
                          }
                        }
                      },
                      "total": { "type": "integer" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "OverviewResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "json": {
                    "type": "object",
                    "properties": {
                      "usersCount": { "type": "integer" },
                      "bookingsCount": { "type": "integer" },
                      "revenueThisMonth": { "type": "number" },
                      "ticketsCount": { "type": "integer" },
                      "trends": {
                        "type": "object",
                        "properties": {
                          "usersGrowth": { "type": "number" },
                          "bookingsGrowth": { "type": "number" },
                          "revenueGrowth": { "type": "number" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "json": {
                    "type": "object",
                    "properties": {
                      "success": { "type": "boolean" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": { "type": "string" },
              "code": {
                "type": "string",
                "enum": ["BAD_REQUEST", "UNAUTHORIZED", "FORBIDDEN", "NOT_FOUND", "INTERNAL_SERVER_ERROR"]
              }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - Invalid input data",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - Authentication required",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden - Insufficient permissions",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "NotFound": {
        "description": "Not found - Resource does not exist",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    }
  }
}
